* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
}

.container-esquerda {
  display: inline-block;
  width: 50%;
}

header {
  margin-top: 45px;
  margin-left: 30px;
  margin-bottom: 90px;
  cursor: pointer;
  font-size: medium;
}

.novo-h {
  display: none;
}

.link-header {
  margin-left: 50px;
}

#botao {
  background-color: #32cd32;
  color: #fff;
  border-radius: 10px;
  border: none;
  height: 45px;
  width: 110px;
  cursor: pointer;
  margin-left: 50px;
}

img {
  margin-left: 110px;
}

.container-direita {
  display: inline-block;
  width: 50%;
  position: absolute;
  padding-top: 20%;
}

h1 {
  font-size: 60px;
  text-align: left;
  font-style: normal;
}

p {
  color: dimgray;
  text-align: left;
  padding-top: 20px;
  padding-right: 400px;
}

.p11 {
  color: #32cd32;
  text-align: left;
  cursor: pointer;
  margin-top: 39px;
}

@media screen and (max-width: 900px) {
  .container {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
  }

  .container-esquerda {
      width: auto;
      margin-top: 50px;
      order: 2;
  }

  header {
      display: none;
      margin-top: 45px;
      margin-left: 30px;
      margin-bottom: 90px;
      cursor: pointer;
      font-size: medium;
  }

  .link-header {
      margin-left: 50px;
  }

  #botao {
      background-color: #32cd32;
      color: #fff;
      border-radius: 10px;
      border: none;
      height: 45px;
      width: 110px;
      cursor: pointer;
      margin-left: 50px;
  }

  img {
      margin-left: 0px;
      width: 100vw;
  }

  .container-direita {
      width: auto;
      position: static;
      order: 1;
      padding-top: 0px;
  }

  .novo-h {
      display: block;
      margin-top: 10px;
      margin-left: 80px;
      margin-bottom: 0px;
      cursor: pointer;
      font-size: medium;
      text-align: end;
  }

  .login {
      margin-left: 50px;
  }

  #botao2 {
      background-color: #32cd32;
      color: #fff;
      border-radius: 10px;
      border: none;
      height: 45px;
      width: 110px;
      cursor: pointer;
      margin-left: 50px;
  }

  h1 {
      font-size: 50px;
      font-style: normal;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 50px;
  }

  p {
      color: dimgray;
      text-align: center;
      padding: 0;
      margin-top: 40px;
  }

  .p11 {
      color: #32cd32;
      text-align: center;
      cursor: pointer;
      margin-top: 40px;
  }
}